#map {
  position: absolute;
  height: 550px;
  width: 100%;
  padding: 2px;
  display: block;
  margin-top: 10px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#list{
  overflow-y: scroll;
  height: 275px;
  width: 100%;
}

.label-info {
    background-color: rgba(91,192,222,0.80) !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  text-shadow: none !important;
}

.principal{
  height: 730px;
}

.information {
  height: 200px;
}